:root {
  --color-primary: #593b9b;
  --color-danger: #ff1326;
  --color-dark: #363949;
  --color-white: #fff;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0.2rem 2rem var(--color-light);
}
/* dark theme var */
.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 10px 10px 5px 0px var(--color-light);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body .dark-theme{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}
.container-2 {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 20rem auto 10rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}
h1 {
  font-weight: 800;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.77rem;
}
small {
  font-size: 0.75rem;
}
aside {
  height: 100vh;
}

aside .top {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

/* aside .logo{
    display: flex;
    gap: 0.8rem;
} */

aside .logo img {
  width: 8rem;
  height: 6rem;
}

aside .close {
  display: none;
}
/* sidebar */
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
}
aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}
aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}
aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: #593b9b;
}
aside .sidebar a.active span {
  color: #593b9b;
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}
aside .sidebar .favorite-count {
  background: #ff1326;
  padding: 2px 10px;
  font-size: 11px;
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

/* main section */
main {
  margin-top: 1.4rem;
}
main .card {
  padding: var(--card-padding);
  display: grid;
}
main .card > div {
  background: var(--color-white);

  border-radius: var(--card-border-radius);
  margin-top: 1rem;

  box-shadow: none;
  transition: all 300ms ease;
}
main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;

  box-shadow: none;
  transition: all 300ms ease;
}
main .insights h2 {
  width: fit-content;
  padding: 5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 50%;
  background: var(--color-light);
}
main .insights h3 {
  margin-top: 0.6rem;
}
main .insights > div:hover {
  box-shadow: var(--box-shadow);
}
/* main .insights > div span{
    background: var(--color-primary);
    padding: 0.2rem;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
} */

/* content-1  */
main .content-1 {
  margin-top: 2rem;
}
main .content-1 h2 {
  margin-bottom: 0.8rem;
}
main .content-1 .card {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: none;
  transition: all 300ms ease;
}
main .content-1 table:hover {
  box-shadow: var(--box-shadow);
}
/*   */
.right {
  margin-top: 1.4rem;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}
/* bookmark */
.right .bookmark {
  margin-top: 1rem;
}
.right .bookmark h2 {
  margin-bottom: 0.8rem;
}
.right .bookmark .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: none;
  transition: all 300ms ease;
}
.right .bookmark .updates:hover {
  box-shadow: var(--box-shadow);
}
.right .bookmark .updates input,
textarea {
  border-radius: var(--border-radius-1);
  background: var(--color-light);
  color: var(--color-dark);
}

.right .bookmark .updates .btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
/* sales analystics */
.right .sales-analytics {
  margin-top: 2rem;
}
.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}
.right .sales-analytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: none;
  transition: all 300ms ease;
}
.right .sales-analytics .item:hover {
  box-shadow: var(--box-shadow);
}
.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}
.right .sales-analytics .item .icon {
  background: var(--color-white);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }
  .aside .logo {
    display: none;
  }
  aside .sidebar h3 {
    display: none;
  }
  aside .sidebar a {
    width: 5.6rem;
  }
  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .content-1 {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .content-1 table {
    width: 83vw;
  }
  main table:first-child {
    display: none;
  }
  main table:last-child,
  main table td:first-child {
    display: none;
  }
}

/* MEDIA QUERIES tablet-phone*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  .aside .logo {
    margin-left: 1rem;
  }
  .aside .logo h2 {
    display: inline;
  }
  aside .sidebar h3 {
    display: inline;
  }
  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }
  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .content-1 {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .content-1 table {
    width: 100%;
    margin: 0;
  }
  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }
  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}
